---
layout: page
title: "Sculpts"
description: "Sculpts"
active: gallery
album-title: "Sculpts"
gallery_1:
 - image_path: /gallery/archive/g04/sculpt1.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt2.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt3.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt4.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
gallery_2:
 - image_path: /gallery/archive/g04/sculpt5.jpg
   caption: Sculpts
   mfp-title: Archi Render
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt6.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt7.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt8.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
gallery_3:
 - image_path: /gallery/archive/g04/sculpt9.jpg
   caption: Sculpts
   mfp-title: Archi Render
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt10.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt11.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt12.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
gallery_4:
 - image_path: /gallery/archive/g04/sculpt14.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt15.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g04/sculpt16.jpg
   caption: Sculpts
   copyright: © Radhika Ayyangar

---

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">
  <style>
    /* Adjusts the space for the navbar toggle button */
    .navbar-toggle {
        margin-right: 0; /* Removes the margin to the right */
    }
  </style>
</head>

    <body>
 
	<section id="content" role="main">
		<div class="wrapper">
	    <br><br>
			<h2>{{page.album-title}}</h2>
      <p>
          Non-commissioned 3d sculpts undertaken as a study in anatomical modelling. Created in Zbrush.
          <br />
          Inspired by Lovecraftian lore, I wanted to create a juvenile version of Cthulhu, the “The Great Old One”.
          <br />
          Here I attempted to capture an instance from his childhood, perhaps momentarily bored after frolicking through the depths of the ocean, terrorizing beings and leaving chaos in his wake.
      </p>
			<!-- Gallery 1-->
			<div class="gallery masonry-gallery">
		
{% for image in page.gallery_1 %}  		

				<figure class="gallery-item col-2">
					<header class='gallery-icon'>

            <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
						
					</header>	
				</figure>
				
{% endfor %}
			</div>
      <p>
        Keeping with the same Cthulhu genre, the following sculpts were created as an exercise in sculpting a morph of human and animal anatomy, with the creature striking a dynamic pose.
      </p>
      
      <!-- Gallery 2-->
			<div class="gallery masonry-gallery">
		
{% for image in page.gallery_2 %}  		

				<figure class="gallery-item col-2">
					<header class='gallery-icon'>

            <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
						
					</header>	
				</figure>
				
{% endfor %}
			</div>

		</div><!-- END .wrapper -->
      <p>
        The following is another non-commissioned 3d sculpt undertaken as a study in anatomical modelling. Created in ZBrush.
        <br />
        Recreated from a single reference photo. Posing the characters and sculpting the fabric details were most enjoyable part of the process.
      </p>
     
      <!-- Gallery 3-->
			<div class="gallery masonry-gallery">
		
{% for image in page.gallery_3 %}  		

				<figure class="gallery-item col-2">
					<header class='gallery-icon'>

            <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
						
					</header>	
				</figure>
				
{% endfor %}
			</div>

		</div><!-- END .wrapper -->
      <p>
        Another sculpt of an adorable 3D mascot for an app (Maskup).
      </p>
      <!-- Gallery 4-->
			<div class="gallery masonry-gallery">
{% for image in page.gallery_4 %}  		
				<figure class="gallery-item">
					<header class='gallery-icon'>
            <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
					</header>	
				</figure>
{% endfor %}
			</div>
		</div><!-- END .wrapper -->
	</section>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- include image popups -->
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.url }}{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.url }}{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.url }}{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.url }}{{ site.baseurl }}/js/modernizr.js"></script>

    <script type="text/javascript">
      $(document).ready(function($) {
        $('a.popup').magnificPopup({
          type: 'image',
	  gallery:{
         enabled:true,
         navigateByImgClick: true,
         preload: [0,1] // Will preload 0 - before current, and 1 after the current image
       },
      image: {
         titleSrc: function(item) {
              return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
            }
        }
          // other options
      });
});
    </script>
    <br />
    <br />
</body></html>
