---
layout: page
title: "Game Aart"
description: "Game Art"
active: gallery
album-title: "Game Art"
gallery_1:
 - image_path: /gallery/archive/g02/games1.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games2.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games3.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games4.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
gallery_2:
 - image_path: /gallery/archive/g02/games5.jpg
   caption: Game Art
   mfp-title: Archi Render
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games6.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games7.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games8.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
gallery_3:
 - image_path: /gallery/archive/g02/games9.jpg
   caption: Game Art
   mfp-title: Archi Render
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games10.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games11.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games12.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
gallery_4:
 - image_path: /gallery/archive/g02/games13.jpg
   caption: Game Art
   mfp-title: Archi Render
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games14.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games15.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar
 - image_path: /gallery/archive/g02/games16.jpg
   caption: Game Art
   copyright: © Radhika Ayyangar

---

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">
  <style>
    /* Adjusts the space for the navbar toggle button */
    .navbar-toggle {
        margin-right: 0; /* Removes the margin to the right */
    }
  </style>
</head>

    <body>
 
	<section id="content" role="main">
		<div class="wrapper">
	    <br><br>
			<h2>{{page.album-title}}</h2>
      <br />
      <h3>Dark Rail</h3>
      <p>
          Concept artwork for the game, Darkrail (terminus.in) displaying mood and visual style.
          Created in 3DS Max, Vray and Photoshop.
          <br />
          <br />
          Conceptualized as PC game, Darkrail planned to merge action-adventure gameplay with immersive environments and vehicular physics.
          I designed a key game entity: a steam-punk inspired locomotive, combining various vehicular and weapon designs. After modelling the engine and primary level, I began fleshing out the environment to enrich the immersive experience.
      </p>
        
			<!-- Gallery 1-->
			<div class="gallery masonry-gallery">
		
{% for image in page.gallery_1 %}  		

				<figure class="gallery-item col-2">
					<header class='gallery-icon'>

            <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
						
					</header>	
				</figure>
				
{% endfor %}
			</div>
      <h3>Helion</h3>  
      <p>
        Detail of painted texture maps, sprites and other artwork created for the game, Helion (terminus.in). Created in 3DS Max and Photoshop.
      </p>
      
      <!-- Gallery 2-->
			<div class="gallery masonry-gallery">
		
{% for image in page.gallery_2 %}  		

				<figure class="gallery-item col-2">
					<header class='gallery-icon'>

            <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
						
					</header>	
				</figure>
				
{% endfor %}
			</div>

		</div><!-- END .wrapper -->
      <p>
        A platform shooter designed for the iOS platform, the game Helion harnessed the power of shaders to show off highly detailed texture maps while keeping asset sizes to a manageable level for the mobile format.
      </p>
     <p>
        Combining detailed hand-painted textures with normal and specular maps,
        layered over BRDF material shaders, produced visually rich, awe-inspiring
        space combat scenarios
      </p>
     
      <!-- Gallery 3-->
			<div class="gallery masonry-gallery">
		
{% for image in page.gallery_3 %}  		

				<figure class="gallery-item col-2">
					<header class='gallery-icon'>

            <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
						
					</header>	
				</figure>
				
{% endfor %}
			</div>

		</div><!-- END .wrapper -->

      <h3>SuperWTF</h3>
      <p>
        Concept art for a quirky and light-hearted shooter game for Terminus
      </p>
      <!-- Gallery 4-->
			<div class="gallery masonry-gallery">
{% for image in page.gallery_4 %}  		
				<figure class="gallery-item col-2">
					<header class='gallery-icon'>
            <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
					</header>	
				</figure>
{% endfor %}
			</div>
		</div><!-- END .wrapper -->
	</section>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- include image popups -->
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.url }}{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.url }}{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.url }}{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.url }}{{ site.baseurl }}/js/modernizr.js"></script>

    <script type="text/javascript">
      $(document).ready(function($) {
        $('a.popup').magnificPopup({
          type: 'image',
	  gallery:{
         enabled:true,
         navigateByImgClick: true,
         preload: [0,1] // Will preload 0 - before current, and 1 after the current image
       },
      image: {
         titleSrc: function(item) {
              return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
            }
        }
          // other options
      });
});
    </script>
    <br />
    <br />
</body></html>
