---
layout: page
title: "Game Art"
description: "masonry"
active: gallery
header-img: "img/gallery-bg.jpg"
album-title: "Game Art"
image_gallery_1:
  - image_path: /gallery/archive/g02/alb1
    caption: Game Art 1
    copyright: © Radhika Ayyangar
    row_start: 1
    row_span: 2
    col_start: 1
    col_span: 1
  - image_path: /gallery/archive/g02/alb2
    caption: Game Art
    copyright: © Radhika Ayyangar
    row_start: 1
    row_span: 1
    col_start: 2
    col_span: 1
  - image_path: /gallery/archive/g02/alb3
    caption: Game Art
    copyright: © Radhika Ayyangar
    row_start: 2
    row_span: 1
    col_start: 2
    col_span: 1
image_gallery_2:
  - image_path: /gallery/archive/g02/gal2_img1.jpg
    caption: Game Art
    copyright: © Radhika Ayyangar
  - image_path: /gallery/archive/g02/gal2_img2.jpg
    caption: Game Art
    copyright: © Radhika Ayyangar
  - image_path: /gallery/archive/g02/gal2_img3.jpg
    caption: Game Art
    copyright: © Radhika Ayyangar
  - image_path: /gallery/archive/g02/gal2_img4.jpg
    caption: Game Art
    copyright: © Radhika Ayyangar
---

<html class="no-js" lang="en">
<head>
    <meta content="charset=utf-8">
    <style>
      .css-grid-gallery {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
          grid-auto-rows: minmax(100px, auto);
          gap: 16px;
      }
    </style>
</head>
<body>
    <section id="content" role="main">
        {% include nav.html %}
        <div class="wrapper">
            <br><br>
            <h2>{{ page.album-title }}</h2>

            <!-- Gallery 1 -->
            <div class="gallery css-grid-gallery">
                {% for image in page.image_gallery_1 %}
                <figure class="gallery-item" style="grid-row: {{ image.row_start }} / span {{ image.row_span }}; grid-column: {{ image.col_start }} / span {{ image.col_span }};">
                    <header class='gallery-icon'>
                        <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}.jpg" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
                            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}_thumb.jpg">
                        </a>
                    </header>
                </figure>
                {% endfor %}
            </div>
            <!-- END .gallery 1 -->

            <p>
                These 3D rendered images enabled the game development team to better understand the mood, setting, and environment of the game.
            </p>
            <ul>
                <li>
                    Created all 3D assets and texture painted them thereby also providing base meshes and references for the low poly production quality models
                </li>
                <li>
                    Quick painting and post-production effects over the rendered images to show environment, mood, and look and feel of the game
                </li>
            </ul>
            <br />
            
            <!-- Gallery 2 -->
            <div class="gallery masonry-gallery">
                {% for image in page.image_gallery_2 %}
                <figure class="gallery-item">
                    <header class='gallery-icon'>
                        <a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
                            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}">
                        </a>
                    </header>
                </figure>
                {% endfor %}
            </div>
            <!-- END .gallery 2 -->
            <p>
                Helion, a space arcade shooter made for the iOS platform, was a throwback to the simplistic addictive fun of arcade games. A modern-day visual treat, with lush artwork, BRDF shading, and particle effects pushed the device hardware to the limit.
            </p>
            <ul>
                <li>
                    Created assets- 3D models, high-poly sculpts, environments, sprites, and textures for Helion and created concept artwork for Darkrail and SuperWTF
                </li>
                <li>
                    Managed and guided a team of two artists
                </li>
                <li>
                    Worked alongside graphics programmers giving artistic feedback on shaders, particle systems, sprites, and the game editor design interface.
                </li>
            </ul>
        </div>
    </section>
    <br />
    <br />

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/retina.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/jquery.tinycarousel.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/scripts.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/modernizr.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function($) {
            $('a.popup').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    titleSrc: function(item) {
                        return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
                    }
                }
                // other options
            });
        });
    </script>
</body>
</html>
